<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Proyecto Final</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
 
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                   <!-- <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li> -->
                </ul>
            </nav>
            <h3 class="text-muted">Proyecto Final</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Workload Trace Generator</h1>
            <p class="lead"></p>
            <p><a class="btn btn-primary btn-sm btn-block" href="showOptions" type="button">Generaci&oacute;n</a>
	        <p><a class="btn btn-primary btn-lg btn-block" href="showOptions" type="button">Benchmark</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Generaci&oacute;n</h4>
                <p>Permitir&aacute; la generaci&oacute;n de cargas de trabajo a partir del ingreso de datos de entrada de forma manual o pre-cargadas en un archivo CSV.</p>
            </div>
 
            <div class="col-lg-6">
                <h4>Benchmark</h4>
                <p>Permitir&aacute; la descarga de trazas de trabajo pre-generadas.</p>
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; Jammily Ortigoza</p>
        </footer>
 
    </div>
</body>
 
</html>
