<!DOCTYPE html>
<html>
  <head>
    <title>Proyecto Final</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jumbotron-narrow.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sim.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-1.11.2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-1.11.2.min.map') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/bootstrap.min.css.map') }}"></script> 
    <script src="{{ url_for('static', filename='js/select.js') }}"></script>
  </head>
  
  <body>
    <div class = "container">  
      <div class="header">
        <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active"><a href="/">Home <span class="glyphicon glyphicon-home"></span></a>
        </li>
        <li role="presentation"><a href="/helper.pdf">Ayuda <span class="glyphicon glyphicon-info-sign"></span></a>
        </li>
        </ul>
        <h3 class="text-muted">WTG</h3>
      </div> 
      
      {% block content %}
      {% endblock %}
      <!--
      <footer class="footer">
        <p>&copy; Jammily Ortigoza - Universidad Católica "Nuestra Señora de la Asunción"</p>
      </footer> -->
    
    </div>
  </body>
</html>
